@model TestCoWorking.Models.User
@{
    ViewData["Title"] = "Видалити користувача";
    Layout = "_AdminLayout";
}

<h1 class="text-center">Видалення користувача</h1>

<div>
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>

        <dt>Ім'я</dt>
        <dd>@Model.NickName</dd>

        <dt>Пошта</dt>
        <dd>@Model.Email</dd>
    </dl>

    <div>
        <form asp-controller="Admin" asp-action="DeleteUser" method="post">
            <div class="form-group">
                <input type="submit" class="form-control" value="Видалити" />
            </div>
        </form>
    </div>
</div>

