@model TestCoWorking.Models.Booking
@{
    ViewData["Title"] = "Редагування бронювання";
    Layout = "_AdminLayout";
}


<form asp-action="EditBooking" asp-controller="Admin" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Ім'я</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Start" class="control-label">Початок</label>
        <input type="date" asp-for="Start" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="End" class="control-label">Кінець</label>
        <input type="date" asp-for="End" class="form-control" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Approved" value="@Model.Approved"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="form-control" />
    </div>
</form>

