@model TestCoWorking.VIewModels.LoginModel
@{
    ViewData["Title"] = "Авторизація";
}

<h1 class="text-center text-black">Авторизуватись</h1>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" method="post" class="form-group">
    <div class="form-group" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Введіть пошту</label><br/>
        <input type="text" asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Введіть пароль</label><br />
        <input type="password" asp-for="Password" class="form-control"/>
    </div>
    <div class="form-group text-center">
        <input type="submit" value="Увійти" class="form-control btn-dark"/>
    </div>
</form>
