
@{
    ViewData["Title"] = "About";
}

<h1 class="text-center">Коворкінг</h1>

<h2>Ково́ркінг (англ. Co-working — спільно працювати) у широкому сенсі — це модель організації роботи людей, найчастіше фрилансерів, з різним типом зайнятості у єдиному робочому просторі; у вузькому — колективний офіс.</h2>
<h3>Коворкінги характеризує гнучка організація робочого простору і прагнення до формування спільноти резидентів та внутрішньої культури. Учасники залишаються незалежними та вільними, мають можливість спілкуватися, обмінюватися ідеями та допомагати один одному, на відміну від роботи вдома.</h3>

