@model TestCoWorking.Models.Booking[]
@{
    ViewData["Title"] = "Reservation";
}

<h1 class="text-center">Бронювання</h1>

<table class="table">
    <tr>
        <th>Ім'я</th>
        <th>Пошта розробника</th>
        <th>Кількість вільних місць</th>
        <th>Початок</th>
        <th>Кінець</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.Name</td>
            <td>@b.DevEmail</td>
            <td>@b.Start</td>
            <td>@b.End</td>
        </tr>
    }
</table>

