@model List<TestCoWorking.Models.Comment>

@{
    ViewData["Title"] = "Коментарі";
    Layout = "_DevLayout";
}

<h1 class="text-center">Коментарі</h1>

<table class="table">
    <tr>
        <th>Ім'я</th>
        <th>Коментар</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UserName</td>
            <td>@u.Message</td>
        </tr>
    }
</table>



