@model List<TestCoWorking.Models.User>

@{
    ViewData["Title"] = "Користувачі";
    Layout = "_DevLayout";
}

<h1 class="text-center">Підписані користувачі</h1>

<table class="table">
    <tr>
        <th>Ім'я</th>
        <th>Пошта</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.NickName</td>
            <td>@u.Email</td>
        </tr>
    }
</table>