@model TestCoWorking.Models.Booking[]
@{
    ViewData["Title"] = "Бронювання";
    Layout = "_ManagerLayout";
}

<h1 class="text-center">Бронювання</h1>

<table class="text-center table">
    <tr>
        <th>Назва</th>
        <th>Пошта</th>
        <th>Кількість вільних місць</th>
        <th>Початок</th>
        <th>Кінець</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Name</td>
            <td>@u.Start</td>
            <td>@u.End</td>
            <td><a asp-action="Look" asp-controller="Manager" asp-route-id="@u.Id">Деталі</a></td>
        </tr>
    }
</table>
