@model TestCoWorking.Models.User
@{
    ViewData["Title"] = "Follow";
    Layout = "_ManagerLayout";
}

<h1 class="text-center">Записати користувача для бронювання</h1>
<h2 class="text-center">@Model.Booking.Name</h2>

<form asp-action="Follow" asp-controller="Manager" class="form-group" method="post">

    <div>
        <input asp-for="BookingId" value="@Model.BookingId" type="hidden"/>
    </div>

    <input type="submit" value="Додати" class="form-control" />
</form>

