@model TestCoWorking.Models.User
@{
    ViewData["Title"] = "Follow";
    Layout = "_ManagerLayout";
}

<h1 class="text-center">Записати користувача для бронювання</h1>

<form asp-action="Follow" asp-controller="Manager" class="form-group" method="post">
    <input type="submit" value="Додати" class="form-control" />
</form>

